# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\flori\Documents\Birkbeck\Birkbeck 2020-21\Principles of Programming II\dcs-pop2-2020-21-fraction-project-fneziri\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
